<footer class = "footer-principal">
    <section class = "footer-grid">
        <div class = "footer-panel"> 
            <h3> NOSOTROS</h3>
            <a href ="#">Quienes Somos</a>
            <a href = "#"> Sucursales </a>
            <a href ="#"> Politicas de medio ambiente</a>
        </div>

        <div class = "footer-panel">
            <h3> AYUDA</h3>
            <a href = "#"> Ayuda</a>
            <a href = "#"> Preguntas Frecuentes</a>
            <a href = "#"> Contacto </a>
            <a href = "#"> Terminos y Condiciones</a>
            <a href = "#"> Politicas de privacidad</a>
        </div>

        <div class = "footer-panel footer-redes">
            <h3> REDES SOCIALES </h3>
            <p> Siguenos en nuestras redes sociales para estar al tanto de las últimas novedades, promociones y lanzamientos de productos. ¡Únete a nuestra comunidad en línea y comparte tu estilo con nosotros! </p>
            
            
            <a href = "#"> Redes Sociales </a>
            <a href = "#" aria-label="Facebook">Facebook</a>
            <a href = "#" aria-label="Instagram">Instagram</a>
            <a href = "#" aria-label="Twitter">Twitter</a>
        </div>
    </section>

    <section class = "footer-logo"> 
        <a routerLink="/inicio">TUROPA.COM</a>
    </section>
</footer>