.encabezado {
  width: 100%;
  background-color: #c9baba;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  position: absolute;
}

/* LOGO */

.logo h1{
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    color: black;
    position: absolute;
    align-self: left;
    left: 40px;    
}

/* MENU */

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
    margin:0;
    padding: 0;
    align-self: center;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.3s;
    gap: 20px;
}

.menu a:hover{
    color: hotpink;
}

.menu .active{
    color: deeppink;
}


/* BUSCADOR */

.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    padding: 5px 10px;
}

.search-container input{
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 14px;
}

.search-container button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}