<div class="margenes">
<section clas="catalogo">
  <h2> LO MAS NUEVO EN NUESTRO CATALOGO </h2>

  <p *ngIf="cargando" class="estado">cargando productos </p>

  <ng-container *ngIf="!cargando">
    <div class="grid-productos"> 
      <article class="producto" *ngFor="let item of ropa">
        <div class="imagen-producto">
          <img 
            *ngIf="item.imagenBase64; else sinImagen"
            [src]="obtenerImagenUrl(item.imagenBase64)"
            [alt]="item.nombre"
        >

        <ng-template #sinImagen>
          <div class="placeholder-imagen">Sin imagen</div>
        </ng-template>
        </div>
        <p class="descripcion">
          {{ item.descripcion || 'descripcion de la prenda...'}}
        </p>
        
        <p class="precio">
          ${{item.precio}}
        </p>
      </article>
    </div>
    </ng-container>
    </section>
</div>