<div class="margenes">
  <div class="Titulo">
    <h2> LO MAS NUEVO EN NUESTRO CATALOGO </h2>
  </div>

  <p *ngIf="cargando" class="estado">cargando productos </p>

  <ng-container *ngIf="!cargando">
    <div class="grid-productos"> 
      <article class="producto" *ngFor="let item of ropa">
        <div class="imagen-producto">
          <img 
            *ngIf="item.imagenes && item.imagenes.length > 0; else sinImagen"
            [src]="obtenerImagenUrl(item.imagenes[0])"
            [alt]="item.nombre"
        >

        <ng-template #sinImagen>
          <div class="placeholder-imagen">Sin imagen</div>
        </ng-template>
        </div>

        <h3 class="nombre" style="color: #000;">
          {{ item.nombre || 'Nombre del producto...'}}
        </h3>
        
        <p class="descripcion">
          {{ item.descripcion || 'descripcion de la prenda...'}}
        </p>
        
        <p class="precio">
          ${{item.precioBase}}
        </p>
      </article>
    </div>
    </ng-container>
</div>